* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

a {
  color: inherit;
  text-decoration: none;
}

